anyio==2.1.0
aquirdturtle-collapsible-headings==3.0.1
black==19.10b0
ipywidgets==7.6.3
jupyterlab==3.6.7
jupyterlab-execute-time==2.0.2
nb_black==1.0.7
tqdm==4.54.1
matplotlib
pandas
nltk
regex
sklearn
triangle
spherical_geometry
numpy 
seaborn
plotly
shap
wordcloud